<div id="root"></div>
{% comment %} https://medium.com/@mittlus/how-to-build-a-shopify-theme-app-extension-with-react-tailwind-and-webpack-2c1799728989 {% endcomment %}
{% schema %}
  {
    "name": "Value: IP Blocker",
    "target": "body",
    "javascript": "react-extension.js",
    "settings": []
  }
{% endschema %}